{%  load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel = "stylesheet" type= "text/css" href = "{%static 'polls/style.css' %}"/>
    <title></title>
</head>
<body>
<hr>
<p> Header </p>
<hr>

{% block main_content %}
{% endblock %}

{% include 'polls/footer.html' %}

</body>
</html>