{%  extends 'polls/base.html' %}

{# chcemy utworzyć blok, który będzie wklejony tam, gdzie określa to base.html #}

{% block main_content %}

{% if latest_questions %}
    <ul>
        {%  for question in latest_questions %}
            <li><a href = {% url "polls:detail" question.id %}><b> {{ question.question_text }}</b></a></li>
{#            <li><a href = '/polls/{{question.id}}'><b> {{question.question_text}} </b></a></li>#}
        {%  endfor %}
    </ul>
{%  else %}
    <p> You don't have any questions. Please add some. </p>
{% endif %}

{% endblock %}

