{%  extends 'polls/base.html' %}

{# chcemy utworzyć blok, który będzie wklejony tam, gdzie określa to base.html #}

{% block main_content %}

<h1>{{ question.question_text }}</h1>

    <ul>

    {%  for choice in question.choice_set.all %}
{#        #wyświetlamy jaki wybór#}
        <li> {{ choice.choice_text}} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
        {% endfor %}
    </ul>
    {#    wyświetlamy ilośc wyborów#}
    <a href="{% url 'polls:detail' question.id %}"> Vote again?</a>
{% endblock %}